<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
    <!-- <script src="/static/js/alpine.js" defer></script>
     -->
    <script src="/static/js/code.js" defer></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
        integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="/static/css/style.css"> -->

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">DELAY IN CONSTRUCTION</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="/">HOME</a>
                    <a class="nav-link" href="/predictions">PREDICTIONS</a>
                    <a class="nav-link" href="/about">ABOUT</a>
                    <a class="nav-link" href="/contact">CONTACT US</a>
                    <a class="nav-link" href="/report">REPORTS</a>
                    <a class="nav-link" href="/Task">TASKS</a>
                    <a class="nav-link" href="/logout" tabindex="-1" aria-disabled="true">LOGOUT</a>
                </div>
            </div>
        </div>
    </nav>

    <div x-data="construction" class="container">
        <br>
        <div>
            <h1>AVAILABLE PROJECTS</h1>
            <hr>
        </div>
        <div>

            <table class="table">

                <thead>
                    <tr>
                        <th>Task Name</th>
                        <th>Duration</th>
                        <th>Responsible Engineer</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <template x-for="i in tasksList">
                        <tr>
                            <td x-text="i.Name"></td>
                            <td x-text="i.Duration"></td>
                            <td x-text="i.AssignedTo"></td>
                            <td x-text="i.status"></td>
                        </tr>
                    </template>
                </tbody>
            </table>



            <!-- Add a button to save the table data -->
            <!-- <button class="btn btn-primary" onclick="update()">update</button> -->
        </div>
        <br>

        <div class="upload">
            <h3>CREATE A PROJECT</h3>
            <!-- <form action="/addtask" method="post" enctype="multipart/form-data"> -->
            <label>Project Name</label>
            <input class="form-control" type="text" x-model="Name" placeholder="Enter Project Name" required /><br>

            <label>Duration</label>
            <input class="form-control" type="number" x-model="Duration" placeholder="Enter Duration" required /><br>

            <label>Responsible Engineer</label>
            <input class="form-control" type="text" x-model="AssignedTo" placeholder="Assigned To Who?"
                required /><br>

            <label>Status</label>
            <input class="form-control" type="text" x-model="status" placeholder="Enter Status" required /><br>
            <button class="btn btn-primary" @click="SaveTask()">Submit</button>
            <!-- </form> -->
        </div>
        <br>
        <br>
    </div>
</body>

</html>